{#{% extends "::base.html.twig" %}#}

{% block title %}MinishopShopBundle:ProductApi:getProducts{% endblock %}

{% block body %}
<h1>Welcome to the ProductApi:getProducts page</h1>
  <div>
    {{ dump(products) }}
  </div>
{% endblock %}
